body {
    background: linear-gradient(135deg, #1e293b, #0f172a);
    font-family: Arial;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: #020617;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    text-align: center;
}

button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    background: #38bdf8;
    margin: 20px;
}
